<nav class="navbar navbar-dark bg-secondary">
  <a class="navbar-brand" href="/">
    CRUD ANGULAR
  </a>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li
          *ngFor="let usuario of usuarioArray"
          class="list-group-item list-group-item-action"
          (click)="openForEdit(usuario)"
          [class.active]="usuario == selectedUsuario">
          <span class="badge badge-primary">{{usuario.id}}</span>
          {{usuario.name}} - {{usuario.country}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Ingresa al nuevo Usuario
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedUsuario.name" placeholder="Ingresa el Nombre" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedUsuario.country" placeholder="Ingresa el Pais" class="form-control">
            </div>
            <button (click)="addOrEdit()" class="btn btn-primary">
              Submit
            </button>
            <button
              *ngIf="selectedUsuario.id !==0"
              class="btn btn-danger"
              (click)="delete()">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
